#navbar{
  background-color: #008080;
  position: fixed;
  width: 100%;
  margin:0;
  height: 50px;
  /*border-bottom-color: #FFD700;*/
}

h1{
  margin: 0;
  color: white;
  padding: 10px;

}

body{
    margin:0;
    background-color: #ffffff;
}
