/*navbar style*/
#navbar{
  background-color: #008080;
  /*fix this in place/remove from normal flow*/
  position: fixed;
  /*spread across entire view*/
  width: 100%;
  margin:0;
  height: 50px;
  /*border style must be defined before color will take*/
  border-style: groove;
  /*set overall color as teal, and then set bottom to gold*/
  /*this saved me from going top, left, right = teal*/
  border-color: #008080;
  border-bottom-color: #FFD700;
}
/*header style*/
h1{
  margin: 0;
  color: white;
  padding: 10px;
}

/* Dropdown Button */
.dropbtn {
  background-color: #008080;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  margin-top: 100px;
  border-style: groove;
  border-color: #FFD700;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  /*hidden for now*/
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  width: 100%;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #008080;
  color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}


/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #000000;}


body{
    margin:0;
    background-color: #ffffff;
}
